.mgn-btm{
	margin-bottom: 20px;
}

.mgn-btm-none{
	margin-bottom: 2px;
}
.thumbnail img{
	width: 100%;
} 

.thumbnail{
	padding:0;
}

.del-button{
	display:inline;
}

.fl_wp{
	display:flex;
	flex-wrap:wrap;
}
